extends ../layout

block content

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700', rel='stylesheet', type='text/css')
    link(href='css/bootstrap-datetimepicker.min.css', rel='stylesheet')
    link(href='css/flexslider.css', rel='stylesheet')
    link(href='css/templatemo-style.css', rel='stylesheet')
    tm-tours-box-1-info-right
        body.tm-gray-bg
      .container
        .row
          .tm-section-header.section-margin-top
            .col-lg-4.col-md-3.col-sm-3
              hr
            .col-lg-4.col-md-6.col-sm-6
              h2.tm-section-title HOTLINES
            .col-lg-4.col-md-3.col-sm-3
              hr
          .col-md-12
            table
              thead
                tr 
                  th Department
                  th Name
                  th Contact
                  th Description
                  th Remarks
                  th Instructions
                  th Date and Time
                  th 
                  th
              tbody    
                  tr
                    td #{blob.department}
                    td #{blob.name}
                    td #{blob.contact}
                    td #{blob.description}
                    td #{blob.remarks}
                    td #{blob.instructions}
                    td #{blob.dob}
                    td(align='center')
                      form(action='/blobs/#{blob._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                        input(type='submit', value='DELETE', name='_method')
                    td(align='center')
                      form(action='/blobs/#{blob._id}/edit',method='get')
                        input(type='submit', value='EDIT', name='_method')
